<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8" />
	<title>教务老师</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header class="student-header">
	<div class="daohang">
		<p class="float-left">课程管理系统</p>
		<a class="float-right" href="/logout"><img src="/img/tc.png"> </a>
	</div>
	<h3 class="tishi">教务老师，您好！</h3>
	<h3 class="tishi">请选择以下操作：</h3>
</header>
<main>
	<div class="choices">
		<ol>
			<li class="one-choice">
				<a href="/wanshan" title="同意或拒绝 教师对课程的增/删/改的申请"><img src="/img/kcsq.png"> </a>
				<p class="choice-font">课程申请</p>
			</li>
			<li class="one-choice">
				<a href="/wanshan" title="增/删/改 全校学生的信息"><img src="/img/xx.png"> </a>
				<p class="choice-font">学生信息</p>
			</li>
			<li class="one-choice">
				<a href="/wanshan" title="增/删/改 全校教师的信息"><img src="/img/jsxx.png"> </a>
				<p class="choice-font">教师信息</p>
			</li>
			<li class="one-choice">
				<a href="/wanshan" title="管理系统登录的名单"><img src="/img/dlgl.png"> </a>
				<p class="choice-font">登录管理</p>
			</li>
			</li>
		</ol>

	</div>
</main>
</body>
</html>