<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8" />
	<title>教师</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<header class="student-header">
	<div class="daohang">
		<p class="float-left">课程管理系统</p>
		<a class="float-right" href="/logout"><img src="img/tc.png"> </a>
	</div>
	<h3 class="tishi">请选择以下操作：</h3>
</header>
<main>
	<div class="choices">
		<ol>
			<li class="one-choice">
				<a href="/wanshan" title="查看自己的职工信息"><img src="img/xx.png"> </a>
				<p class="choice-font">个人信息</p>
			</li>
			<li class="one-choice">
				<a href="/wanshan" title="向教务系统申请开设课程"><img src="img/sqkk.png"> </a>
				<p class="choice-font">申请开课</p>
			</li>
			<li class="one-choice">
				<a href="/wanshan" title="管理由自己所开设的课程"><img src="img/glkc.png"> </a>
				<p class="choice-font">管理课程</p>
			</li>
			<li class="one-choice">
				<a href="/wanshan" title="对自己课程中的学生进行成绩登记"><img src="img/cjpd.png"> </a>
				<p class="choice-font">成绩评定</p>
			</li>
		</ol>

	</div>
</main>	
</body>
</html>